@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400;900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Outfit', Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* slate-950 */
  color: #f8fafc;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #991b1b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace !important;
}
